body {
    background-color: rgb(70, 96, 96);
}

h1 {
    /* justify-content: center; */
    text-align: center;
    font-family: "Open Sans", sans-serif;
}

.product-container{
    position: relative;
    text-align: center; 
    
}

img{
    max-height: 17vw;
    min-height: 17vw;
    max-width:17vw;
    min-width: 17vw;
    border-radius: 15px;
 /*Scale down will take the necessary specified space that is 100px x 100px without stretching the image*/
     /* object-fit:scale-down; */
 
 }
.product-name{
    position: absolute;
    bottom: -8%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding:5px 5px;
    font-size:20px;
    background-color:black; color: white;
    inline-size: max-content;
    border-radius: 15px;
}

ul{
    list-style: none;
    overflow: auto;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-direction: row;
    max-width: 75vw;
    margin: auto;
    max-height: 75vw;
    
}

.links {
    display: flex;
    justify-content: center;
}

.button-54 {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    letter-spacing: 2px;
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
    cursor: pointer;
    border: 3px solid;
    padding: 0.25em 0.5em;
    box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
    position: relative;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    background-color: white;
}

.button-54:active {
    box-shadow: 0px 0px 0px 0px;
    top: 5px;
    left: 5px;
}